body{
    background-color: aquamarine;
}
.container{
    background-color: rgb(214, 216, 211);
    margin: 30vh 30vh 0vh 30vh;
    text-align: center;
    max-height: 50vh;
    padding: 10px 0px;
}
@media screen and (max-width: 600px){
    .container{
        margin: 0;
    }
    #message{
        width: 400px;
    }
}
#message{
    height: 30px;
    width: 40vw;
    
}
#message:hover{
    border: 2px solid black;
}
#submit{
    height: 45px;
    width: 100px;
    background-color: rgb(200, 156, 250);
    border-radius: 10px;
}
#showcontainer{
    margin-top: 10px;
}
.inputfield{
    background-color: crimson;
    font-size: 30px;
    display: none;
    z-index: -5;
}
.show{
    display: block;
    z-index: 5;
}